{% extends 'fms/base.html' %}
{% block page_title %}
    FMS | New Vehicle
{% endblock page_title %}
{% block title %}
    New Vehicle
{% endblock title %}
{% block title-right %}
    <ol class="breadcrumb float-sm-right">
        <button type="button" onclick="location.href='{% url 'vehicles' %}'" class="btn btn-block btn-primary"><span class="fas fa-list"></span> Vehicles</button>
    </ol>
{% endblock title-right %}
{% block content %}
    <div class="row">
        <!-- left column -->
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
                <!-- /.card-header -->
                <!-- form start -->
                <form role="form" method="post" action="{% url 'new-vehicle' %}">
                {% csrf_token %}
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Make</label>
                            <input type="text" name="make" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Model</label>
                            <input type="text" name="model" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Year</label>
                            <input type="text" name="year" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">License Plate</label>
                            <input type="text" name="license_plate" class="form-control" required>
                        </div>
                        <div class="form-group">
                        <label>Role</label>
                        <select class="form-control" name="role" required>
                            {% for role in roles %}
                              <option value="{{ role.id }}">{{ role.name }}</option>
                            {% endfor roles %}
                        </select>
                      </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>

        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock content %}

