{% extends 'fms/base.html' %}
{% block page_title %}
    FMS | New Schedule
{% endblock page_title %}
{% block title %}
    New Schedule
{% endblock title %}
{% block title-right %}
    <ol class="breadcrumb float-sm-right">
        <button type="button" onclick="location.href='{% url 'schedule' %}'" class="btn btn-block btn-primary"><span
                class="fas fa-list"></span> Schedule
        </button>
    </ol>
{% endblock title-right %}
{% block content %}
    <div class="row">
        <!-- left column -->
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
                <!-- /.card-header -->
                <!-- form start -->
                <form role="form" method="post" action="{% url 'new-schedule' %}">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="form-group">
                            <label>Departure and Arrival</label>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-clock"></i></span>
                                </div>
                                <input type="text" class="form-control float-right" name="departure_arrival_range">
                            </div>
                            <!-- /.input group -->
                        </div>
                        <div class="form-group">
                            <label>Booking</label>
                            <select class="form-control" name="booking_id" required>
                                {% for booking in bookings %}
                                    <option value="{{ booking.id }}">{{ booking.description }} - {{ booking.from_location }} to {{ booking.to_location }} ({{ booking.departure_date }})</option>
                                {% endfor bookings %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Vehicle</label>
                            <select class="form-control" name="vehicle_id" required>
                                {% for vehicle in vehicles %}
                                    <option value="{{ vehicle.id }}">{{ vehicle.make }} - {{ vehicle.model }}</option>
                                {% endfor vehicles %}
                            </select>
                        </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>

        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock content %}
{% block scripts %}
    <script>
        {% if error_message %}
        toastr.error('{{ error_message }}');
        {% endif %}
        $(function () {
            $('input[name="departure_arrival_range"]').daterangepicker({
                timePicker: true,
                minDate: moment(),
                startDate: moment().startOf('hour'),
                endDate: moment().startOf('hour').add(32, 'hour'),
                locale: {
                    format: 'YYYY-MM-DD HH:mm:ss'
                }
            });
        });
    </script>
{% endblock scripts %}

