{% extends 'fms/base.html' %}

{% block content %}
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-car icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div>New Vehicle
                </div>
            </div>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane tabs-animation fade active show" id="tab-content-1" role="tabpanel">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <form class="{% url 'new-vehicle' %}" method="post">
                        {% csrf_token %}
                        <div class="position-relative row form-group"><label for="make" class="col-sm-2 col-form-label">Make</label>
                            <div class="col-sm-10"><input name="make" id="make" type="text" class="form-control"></div>
                        </div>
                        <div class="position-relative row form-group"><label for="model"
                                                                             class="col-sm-2 col-form-label">Model</label>
                            <div class="col-sm-10"><input name="model" id="model" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="position-relative row form-group"><label for="license_plate"
                                                                             class="col-sm-2 col-form-label">License
                            Plate</label>
                            <div class="col-sm-10"><input name="license_plate" id="license_plate" type="text"
                                                          class="form-control"></div>
                        </div>
                        <div class="position-relative row form-group"><label for="role" class="col-sm-2 col-form-label">Role</label>
                            <div class="col-sm-10">
                                <select name="role" id="role" class="form-control">
                                    {% for role in roles %}
                                        <option value="{{ role.id }}">{{ role.name }}</option>
                                    {% endfor roles %}
                                </select>
                            </div>
                        </div>
                        <div class="position-relative row form-check">
                            <div class="col-sm-10 offset-sm-11">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}